@import "tailwindcss";
@source "../Views";
@source "../Areas";

@theme {
  --color-on-tertiary-fixed-variant: #5d4201;
  --color-background: #f9f9f9;
  --color-on-secondary-fixed-variant: #5d4201;
  --color-on-secondary: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-primary-fixed-variant: #474747;
  --color-surface-tint: #5e5e5e;
  --color-outline: #7f7667;
  --color-on-tertiary-container: #4e3700;
  --color-surface-container-low: #f3f3f4;
  --color-on-background: #1a1c1c;
  --color-error: #ba1a1a;
  --color-inverse-on-surface: #f0f1f1;
  --color-surface-container-high: #e8e8e8;
  --color-surface-container-lowest: #ffffff;
  --color-primary-fixed-dim: #c6c6c6;
  --color-on-tertiary-fixed: #261900;
  --color-on-primary-container: #3b3b3b;
  --color-surface: #f9f9f9;
  --color-secondary-fixed: #ffdea5;
  --color-on-tertiary: #ffffff;
  --color-tertiary: #775a19;
  --color-on-surface: #1a1c1c;
  --color-on-secondary-container: #785a1a;
  --color-surface-container-highest: #e2e2e2;
  --color-secondary: #775a19;
  --color-primary: #5e5e5e;
  --color-on-error-container: #93000a;
  --color-tertiary-fixed: #ffdea5;
  --color-tertiary-fixed-dim: #e9c176;
  --color-surface-container: #eeeeee;
  --color-secondary-container: #fed488;
  --color-secondary-fixed-dim: #e9c176;
  --color-on-surface-variant: #4e4639;
  --color-inverse-surface: #2f3131;
  --color-primary-fixed: #e2e2e2;
  --color-tertiary-container: #c5a059;
  --color-on-error: #ffffff;
  --color-inverse-primary: #c6c6c6;
  --color-surface-dim: #dadada;
  --color-surface-bright: #f9f9f9;
  --color-on-primary-fixed: #1b1b1b;
  --color-on-primary: #ffffff;
  --color-surface-variant: #e2e2e2;
  --color-outline-variant: #d1c5b4;
  --color-primary-container: #a5a5a5;
  --color-on-secondary-fixed: #261900;
  
  --font-headline: "Noto Serif", serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;
  
  --radius-DEFAULT: 0rem;
  --radius-lg: 0rem;
  --radius-xl: 0rem;
  --radius-full: 9999px;
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
  .bg-gold-gradient {
    background: linear-gradient(to right, #775a19, #c5a059);
  }
  .luxury-gradient {
    background: linear-gradient(to right, #775a19, #c5a059);
  }
  .editorial-shadow {
    box-shadow: 0 20px 60px rgba(26, 28, 28, 0.04);
  }
  .text-kern {
    letter-spacing: 0.3em;
  }
  .no-line { 
    border: none !important; 
  }
  .ghost-input {
    border: none;
    border-bottom: 1px solid rgba(127, 118, 103, 0.2);
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .ghost-input:focus {
    outline: none;
    border-bottom: 1px solid #775a19;
    box-shadow: none;
  }
}

@layer base {
  input:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
